.alpha__hero {
  display: grid;
  grid-template-columns: 2fr 21.875rem minmax(14.0625rem, 1fr); 
  grid-template-areas: "one two three";

  .alpha__hero__one {
    display: flex;
    flex-direction: column;
    gap: calc(0.625rem + 2vw);
    grid-area: one;
    z-index: 1;
    margin-right: calc(-6.25rem - 3vw);
    padding-top: calc(0.625rem + 2vw);

    a {
      margin-top: calc(-3.75rem - 3vw);
      width: fit-content;
      padding: 1rem 1.125rem 0.9375rem 1.125rem;
      border-radius: 0.3125rem;
      font-family: "Epilogue", sans-serif;
      font-size: 0.8125rem;
      font-weight: bold;
      text-decoration: none;
      background-color: $navy;
      color: $white; 

      &:hover {
        background-image: linear-gradient(to right bottom, 
        #a060ff, #a959fb, #b152f6,
         #b949f1, #c140eb, #dd2fd6, 
        #f11fc1, #ff16ab,  #ff3a85, 
        #ff6367, #ff8853, #ffa84e);
      }
    }

    .img__header {
      top: calc(3.125rem + 1vw);
      display: flex;
      flex-direction: column;
      width: 47vw;
      max-width: calc(44.0625rem + 1vw);
      min-width: 21.875rem;

      img {
        scale: 0.9;
        margin-bottom: 0.3125rem;
        // height: 2.4375rem;
        // width: 14.9375rem;
        align-self: end;
        margin-right: 15%;
      }

      h1 {
        font-family: $font;
        font-size: clamp(1.875rem, 5vw, 4.625rem);
        line-height: 1.3;
        color: $navy;
        font-weight: 400;

        strong {
          font-weight: 600;
        }
      }
    }

    p {
      max-width: calc(20rem + 2vw);
      font-family: $font;
      font-size: clamp(0.6875rem, 3vw, 1.125rem);
      color: $dark__gray;
      line-height: 2.125rem;
      margin-bottom: calc(6.5625rem + 0.5vw);
    }
  }

  picture {
    grid-area: two;

    img {
      z-index: -1;
    }
  }

  .three__line {
    grid-area: three;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;

    .cat :is(h2, h3) {
      font-family: $font;
    }

    .cat {
      h2 {
        font-size: 2.375rem;
        color: $navy;
      }

      h3 {
        color: $dark__gray;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.9375rem;
        margin-top: 0.5rem;
        letter-spacing: 0.125rem;
      }
    }
  }
}
