// control: 
$control: 0.0625rem solid black; 

// colors
$navy: #172339; 
$dark__gray: #49566D; 
$cream: #F3EDE7;
$white: #FAF8F6; 
$purple: #A060FF; 
$pink: #CB30E3; 
$orange: #FFA84E;  

// fonts
$font: "Epilogue", sans-serif;

// font__sizes
$heading__xl: 4.5rem; // bold + regular
$heading__xl__lh: 4.875rem; 

$heading__l: 3rem; // bold + regular
$heading__l__lh: 3.5rem; 

$heading__m: 1.125rem; // bold 
$heading__m__lh: 2rem; 

$heading__s: 1rem; // bold 
$heading__s__lh: 1.625rem; 

$quote: 1.25rem; // regular
